/* 
    Document   : sell
    Created on : Jan 27, 2015, 8:08:52 PM
    Author     : akhtar
    Description:
        Purpose of the stylesheet follows.
*/
body{
    margin: 0;
    padding: 0;
    background-color: white;
    /*background-color: #DFDFDF;*/
    font-family: 'Hind', sans-serif;
   
}
p{
    margin: 0;
    padding: 0;
}
#res_light{
    height: 100%;
    width: 100%;
    z-index: 100;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    visibility: hidden;
}
#gif{
     height:50px;
    width: 50px;
    z-index: 1000;
    margin: 300px auto;
    border: 1px solid transparent;
}
#maximize{
    height: 100%;
    width: 100%;
     z-index: 100;
    position: absolute;
     bottom: 0;
    background-color: rgba(0,0,0,0.3);
     visibility: hidden;
}
#max_content{
    height:305px;
    width: 595px;
    margin: 180px auto;
    padding: 5px;
   background-color: #E0E0E0;
    border: 1px solid transparent;
}
td,tr{
    column-gap: 0;
    border-color: black;
}
#cat_ta{
    height:50px;
    width: 598px;
    float: left;
    background-color:transparent;
    border: 0px solid transparent;
    
}
#max_lft{
    height:243px;
    width: 328px;
    margin-left: 3px;
    float: left;
    background-color:#F8F8F8;
    border: 1px solid transparent;
}
#inside_cont_lft{
    height:240px;
    width: 230px;
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid transparent;
}
.lft_1{
    margin-top: 15px;
    height:35px;
    width: 220px;
    float: left;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid transparent;
}
.lft_1:hover{
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    background-color: #F8F8F8 ;
}
#max_rgt{
    height:243px;
    width: 260px;
    float: left;
    background-color:white;
    border: 1px solid rgba(0,0,0,0.1);;
}
#inside_cont_rgt{
     height:240px;
    width: 230px;
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid transparent;
    visibility: hidden;
    
}


#main_header{
    height: 40px;
    width: 100%;
    position: fixed;
    background-color: black;
}
#user_img{
    float: left;
    height: 38px;
    width: 38px;
    border-radius: 39px;
    background-color: white;
    
}
.gohome
{
    width: 90px;
    height: 38px; 
    background-color: black;
    float: right;
    margin-right: 10px;
  
}
.gohome:hover,#goquestion:hover
{
    cursor: pointer;
    box-shadow: 0 0 4px white;
}
#subheader
{
    width: 1050px;
    border: 1px solid black; 
    height: 38px; 
    background-color:  black;
    margin: 0 auto;
    
}
#container{
    
    margin: 0 auto;
    height: 1020px;
    width: 862px;
    background-color: #FBFAFA;
    padding: 2px;
    border: 1px solid transparent;
}
#content{
    height: 980px;
    width: 860px;
    margin: 40px auto;
    background-color: #FBFAFA;   
}
#content_header{
    height: 40px;
    width: 858px;
    float: left;
    font-family: 'Hind', sans-serif;
    font-weight: 900;
    background-color: #C8C8C8;
    border: 1px solid transparent
}
#reg_para{
    font-weight: 900;
    color:#000000;
    text-align: center;
    margin-top: 5px; 
    font-family: 'Hind', sans-serif;
    
}
.content_1{
    height: 80px;
    width: 858px;
    float: left;
    background-color:white;
    border: 1px solid transparent;
}
.title_ta{
    margin-top: 5px;
    height: 78px;
    width: 858px;
    float: left;
    background-color:transparent;
    
}
.content_1_left{
    height: 60px;
    width: 150px;
    float: left;
    text-align: center;
    background-color: white;
/*    font-size: 15px;
    font-family: 'Oxygen', sans-serif;*/
    border: 1px solid transparent;
}
.content_1_left_para
{
       font-size: 15px;
    font-family: 'Montserrat', sans-serif;    
}
#content_1_right{
    height: 60px;
    width: 596px;
    float: left;
    background-color:white;
    border: 1px solid transparent;
}
.ip{
    height: 38px;
    width: 564px;
    margin-top: 10px;
    padding: 0 15px;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,0.2);
}

.content_2{
    height: 80px;
    width: 858px;
    float: left;
   background-color:white;
    border: 1px solid transparent;
}
#content_2_right{
    height: 60px;
    width: 596px;
    float: left;
    background-color:white;
    border: 1px solid transparent;
}
#ip2{
    background-color: white;
}

.content_3{
    height: 80px;
    width: 858px;
    float: left;
    background-color:white;
    border: 1px solid transparent;
}
#content_3_right{
    height: 60px;
    width: 596px;
    float: left;
    background-color:white;
    border: 1px solid transparent;
}

.content_4{
    height: 80px;
    width: 858px;
    float: left;
   background-color:white;
    border: 1px solid transparent;
}
#content_4_right{
    height: 60px;
    width: 596px;
    float: left;
    background-color:white;
    border: 1px solid transparent;
}

.rupee{
    height: 38px;
    width: 25px;
    margin-top: 10px;
    float: left;
    background-color: white;
     border: 1px solid rgba(0,0,0,0.1);
}
.ip_pri{
    height: 38px;
    width: 537px;
    float: left;
    margin-top: 10px;
    padding: 0 15px;
    font-family: 'Hind', sans-serif;
     font-size: 14px;
    border: 1px solid rgba(0,0,0,0.2);
}
.content_5{
    height: 100px;
    width: 858px;
    float: left;
   background-color:white;
    border: 1px solid transparent;
}
.title_dis{
    margin-top: 15px;
    height: 90px;
    width: 858px;
    float: left;
    background-color:transparent;
}

#content_5_right{
    height: 100px;
    width: 596px;
    float: left;
    background-color:white;
    border: 1px solid transparent;
}
.ip_txt{
    height: 68px;
    width: 564px;
    float: left;
    padding: 5px 15px;
    margin-top: 8px;
    font-family: 'Hind', sans-serif;
    resize: none;
     font-size: 14px;
    border: 1px solid rgba(0,0,0,0.2);
}
.content_6,.content_8{
   height: 80px;
    width: 858px;
    float: left;
    background-color:white;
    border: 1px solid transparent;
}
.content_8{
    height: 80px;
    width: 858px;
    float: left;
    background-color:white;
    border: 1px solid transparent;
    border-top: 1px solid rgba(0,0,0,0.1);
}
#content_6_right{
    height: 60px;
    width: 596px;
    float: left;
    background-color:white;
    border: 1px solid transparent;
}
#content_8_right{
    height: 60px;
    width: 596px;
    float: left;
    background-color:white;
    border: 1px solid transparent;
}


#extCnt
{
 height: 40px;width: 596px;
 border: 1px solid rgba(0,0,0,0.2);
 margin-top: 10px;   
    
}
.ext{
    height: 38px;
    width: 30px;
    color: rgba(0,0,0,0.5);
    float: left;
    background-color: white;
    border: 1px solid transparent;
}
.ip_mob{
    height: 38px;
    width: 552px;
    float: left;
/*    margin-top: 10px;*/
    padding: 0 5px;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    border: 1px solid transparent;
}
.content_7{
    height: 125px;
    width: 858px;
    float: left;
    background-color:white;
    border: 1px solid rgba(0,0,0,0.1);
}
#content_7_right{
    height: 60px;
    width: 596px;
    float: left;
    background-color:white;
    border: 1px solid transparent;
}

.img{
    height: 80px;
    width: 100px;
    float: left;
    margin-top: 10px;
    margin-left: 88px;
    background-color: white;
    border: 1px dashed black;
    
}
.img:hover{
    cursor: pointer;
    background-color: #F0F0F0 ;
}
.content_9{
    height: 120px;
    width: 858px;
    float: left;
    background-color:white;
    border: 1px solid transparent;
}
#content_9_right{
    height: 60px;
    width: 596px;
    float: left;
    background-color:white;
    border: 1px solid transparent;
}

#sub_reg{
    height: 40px;
    width: 250px;
    margin-top: 30px;
    float: left;
    margin-left: 280px;
    background-color: #F6E011;
    border-radius: 3px;
    font-family: 'Hind', sans-serif;
    font-weight: 900;
    border: 1px solid rgba(0,0,0,0.1);
}
#sub_reg:hover{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background-color:#E6C200;
    cursor: pointer;
}