<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CHAT</servlet-name>
        <servlet-class>com.website.friend.main.CHAT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendmsg</servlet-name>
        <servlet-class>com.website.friend.main.sendmsg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>continuechat</servlet-name>
        <servlet-class>com.website.friend.main.continuechat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pendingchat</servlet-name>
        <servlet-class>pendingchat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newpendingchat</servlet-name>
        <servlet-class>com.website.friend.main.newpendingchat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchedfriend</servlet-name>
        <servlet-class>com.website.friend.main.searchedfriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confcnl</servlet-name>
        <servlet-class>com.website.friend.main.confcnl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchfrieng_and_group</servlet-name>
        <servlet-class>com.website.friend.handler.searchfrieng_and_group</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>friendrehandler</servlet-name>
        <servlet-class>com.website.friend.handler.friendrehandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myfriendreqhandeler</servlet-name>
        <servlet-class>com.website.friend.handler.myfriendreqhandeler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createprofile</servlet-name>
        <servlet-class>createprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profilehandler</servlet-name>
        <servlet-class>com.website.friend.handler.profilehandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>onoff_manager</servlet-name>
        <servlet-class>com.website.friend.main.onoff_manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unfriend</servlet-name>
        <servlet-class>com.website.friend.main.unfriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createprofile1</servlet-name>
        <servlet-class>com.website.friend.main.createprofile1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>com.website.friend.main.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateprofile_handler</servlet-name>
        <servlet-class>com.website.friend.handler.updateprofile_handler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createprofile_handler</servlet-name>
        <servlet-class>com.website.friend.handler.createprofile_handler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendreqprofilehandler</servlet-name>
        <servlet-class>com.website.friend.handler.sendreqprofilehandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conclehandler</servlet-name>
        <servlet-class>com.website.friend.handler.conclehandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grouprequest</servlet-name>
        <servlet-class>com.website.group.main.grouprequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grouprequesthandler</servlet-name>
        <servlet-class>com.website.group.handler.grouprequesthandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grouprequestmaneger</servlet-name>
        <servlet-class>com.website.group.main.grouprequestmaneger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remainingfrieng_haldler</servlet-name>
        <servlet-class>com.website.friend.handler.remainingfrieng_haldler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>qustionstorage</servlet-name>
        <servlet-class>com.website.group.main.qustionstorage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>questionhandler</servlet-name>
        <servlet-class>com.website.group.handler.questionhandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>answerstorage</servlet-name>
        <servlet-class>com.website.group.main.answerstorage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>answerhandler</servlet-name>
        <servlet-class>com.website.group.handler.answerhandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagepass</servlet-name>
        <servlet-class>com.website.imagemaneger.imagepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>simpleprofilepage_handler</servlet-name>
        <servlet-class>com.website.friend.handler.simpleprofilepage_handler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searched_group</servlet-name>
        <servlet-class>com.website.group.handler.searched_group</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>account</servlet-name>
        <servlet-class>com.website.account.account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetpassword</servlet-name>
        <servlet-class>com.website.account.forgetpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usego_offline</servlet-name>
        <servlet-class>com.website.account.usego_offline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlogin</servlet-name>
        <servlet-class>com.website.account.userlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validator</servlet-name>
        <servlet-class>com.website.account.validator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>book_search</servlet-name>
        <servlet-class>com.website.book.book_search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>temp</servlet-name>
        <servlet-class>temp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>friendrescroller</servlet-name>
        <servlet-class>com.website.friend.handler.friendrescroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_comment</servlet-name>
        <servlet-class>com.website.comment.new_comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>like_post</servlet-name>
        <servlet-class>com.website.like.like_post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>like_comment</servlet-name>
        <servlet-class>com.website.comment.like_comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloader</servlet-name>
        <servlet-class>com.website.downloader.downloader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>post_scroll</servlet-name>
        <servlet-class>com.website.post_scroll.post_scroll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>full_post_button</servlet-name>
        <servlet-class>com.website.full_post.full_post_button</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>full_post_scroll</servlet-name>
        <servlet-class>com.website.full_post_scroll.full_post_scroll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>post_button_scroll</servlet-name>
        <servlet-class>com.website.post_scroll.post_button_scroll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoHome</servlet-name>
        <servlet-class>com.website.account.GoHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>youonline</servlet-name>
        <servlet-class>com.website.account.youonline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainfriends</servlet-name>
        <servlet-class>com.website.friend.handler.mainfriends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>maingroup</servlet-name>
        <servlet-class>com.website.friend.handler.maingroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>com.website.mail.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileuploadformail</servlet-name>
        <servlet-class>com.website.mail.fileuploadformail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mailtemp</servlet-name>
        <servlet-class>com.website.mail.mailtemp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeResume</servlet-name>
        <servlet-class>com.website.resume.MakeResume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadresume</servlet-name>
        <servlet-class>com.website.resume.downloadresume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preresume</servlet-name>
        <servlet-class>com.website.resume.preresume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resume</servlet-name>
        <servlet-class>com.website.resume.resume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resumehandler</servlet-name>
        <servlet-class>com.website.resume.resumehandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>com.website.forgetPassword.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordReseter</servlet-name>
        <servlet-class>com.website.forgetPassword.PasswordReseter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>com.website.forgetPassword.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewFriendsNUmbers</servlet-name>
        <servlet-class>com.website.friend.main.NewFriendsNUmbers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Full_book_disp</servlet-name>
        <servlet-class>com.website.full_book.Full_book_disp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Book_image_manager</servlet-name>
        <servlet-class>com.website.image_manager.Book_image_manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Full_book_image_manager</servlet-name>
        <servlet-class>com.website.image_manager.Full_book_image_manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>post_image_manager</servlet-name>
        <servlet-class>com.website.image_manager.post_image_manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>self_image_manager</servlet-name>
        <servlet-class>com.website.image_manager.self_image_manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxcreateaccount</servlet-name>
        <servlet-class>com.website.account.ajaxcreateaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>com.website.home.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.website.home.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirecter</servlet-name>
        <servlet-class>mailsendRedirect.redirecter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountValidater</servlet-name>
        <servlet-class>com.website.account.AccountValidater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkmail</servlet-name>
        <servlet-class>com.website.account.checkmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchingBook</servlet-name>
        <servlet-class>com.website.book.SearchingBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPostFile</servlet-name>
        <servlet-class>com.website.new_post.NewPostFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPost</servlet-name>
        <servlet-class>com.website.new_post.NewPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCancel</servlet-name>
        <servlet-class>com.website.new_post.UploadCancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDisplay</servlet-name>
        <servlet-class>com.website.post.PostDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPostDisplay</servlet-name>
        <servlet-class>com.website.new_post.NewPostDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelfUserDisplay</servlet-name>
        <servlet-class>com.website.self_user.SelfUserDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelfUserScroll</servlet-name>
        <servlet-class>com.website.self_user.SelfUserScroll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelfButton</servlet-name>
        <servlet-class>com.website.self_user.SelfButton</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>com.website.self_user.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelfFullContent</servlet-name>
        <servlet-class>com.website.self_user.SelfFullContent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FullPostDisplay</servlet-name>
        <servlet-class>com.website.full_post.FullPostDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPost</servlet-name>
        <servlet-class>com.website.self_user.EditPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDisplay</servlet-name>
        <servlet-class>com.website.book.BookDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBookDisplay</servlet-name>
        <servlet-class>com.website.new_book.NewBookDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostButton</servlet-name>
        <servlet-class>com.website.post.PostButton</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBook</servlet-name>
        <servlet-class>com.website.new_book.NewBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyMail</servlet-name>
        <servlet-class>com.website.mail.MyMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.website.account.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CHAT</servlet-name>
        <url-pattern>/com.website.friend.main.CHAT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendmsg</servlet-name>
        <url-pattern>/sendmsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>continuechat</servlet-name>
        <url-pattern>/com.website.friend.main.continuechat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pendingchat</servlet-name>
        <url-pattern>/pendingchat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newpendingchat</servlet-name>
        <url-pattern>/com.website.friend.main.newpendingchat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchedfriend</servlet-name>
        <url-pattern>/searchedfriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confcnl</servlet-name>
        <url-pattern>/confcnl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchfrieng_and_group</servlet-name>
        <url-pattern>/searchfrieng_and_group</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>friendrehandler</servlet-name>
        <url-pattern>/friendrehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myfriendreqhandeler</servlet-name>
        <url-pattern>/myfriendreqhandeler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createprofile</servlet-name>
        <url-pattern>/createprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profilehandler</servlet-name>
        <url-pattern>/profilehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>onoff_manager</servlet-name>
        <url-pattern>/onoff_manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unfriend</servlet-name>
        <url-pattern>/unfriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createprofile1</servlet-name>
        <url-pattern>/createprofile1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateprofile_handler</servlet-name>
        <url-pattern>/updateprofile_handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createprofile_handler</servlet-name>
        <url-pattern>/createprofile_handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendreqprofilehandler</servlet-name>
        <url-pattern>/sendreqprofilehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conclehandler</servlet-name>
        <url-pattern>/conclehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grouprequest</servlet-name>
        <url-pattern>/grouprequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grouprequesthandler</servlet-name>
        <url-pattern>/grouprequesthandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grouprequestmaneger</servlet-name>
        <url-pattern>/grouprequestmaneger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remainingfrieng_haldler</servlet-name>
        <url-pattern>/remainingfrieng_haldler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>qustionstorage</servlet-name>
        <url-pattern>/qustionstorage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>questionhandler</servlet-name>
        <url-pattern>/questionhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>answerstorage</servlet-name>
        <url-pattern>/answerstorage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>answerhandler</servlet-name>
        <url-pattern>/answerhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagepass</servlet-name>
        <url-pattern>/imagepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>simpleprofilepage_handler</servlet-name>
        <url-pattern>/simpleprofilepage_handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searched_group</servlet-name>
        <url-pattern>/searched_group</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetpassword</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usego_offline</servlet-name>
        <url-pattern>/usego_offline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlogin</servlet-name>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validator</servlet-name>
        <url-pattern>/validator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>book_search</servlet-name>
        <url-pattern>/book_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>temp</servlet-name>
        <url-pattern>/temp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>friendrescroller</servlet-name>
        <url-pattern>/friendrescroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_comment</servlet-name>
        <url-pattern>/new_comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>like_post</servlet-name>
        <url-pattern>/like_post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>like_comment</servlet-name>
        <url-pattern>/like_comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloader</servlet-name>
        <url-pattern>/downloader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>post_scroll</servlet-name>
        <url-pattern>/post_scroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>full_post_button</servlet-name>
        <url-pattern>/full_post_button</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>full_post_scroll</servlet-name>
        <url-pattern>/full_post_scroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>post_button_scroll</servlet-name>
        <url-pattern>/post_button_scroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoHome</servlet-name>
        <url-pattern>/GoHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>youonline</servlet-name>
        <url-pattern>/youonline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainfriends</servlet-name>
        <url-pattern>/mainfriends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>maingroup</servlet-name>
        <url-pattern>/maingroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileuploadformail</servlet-name>
        <url-pattern>/fileuploadformail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mailtemp</servlet-name>
        <url-pattern>/mailtemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeResume</servlet-name>
        <url-pattern>/MakeResume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadresume</servlet-name>
        <url-pattern>/downloadresume.pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preresume</servlet-name>
        <url-pattern>/preresume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resume</servlet-name>
        <url-pattern>/resume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resumehandler</servlet-name>
        <url-pattern>/resumehandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/Authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordReseter</servlet-name>
        <url-pattern>/PasswordReseter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewFriendsNUmbers</servlet-name>
        <url-pattern>/NewFriendsNUmbers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Full_book_disp</servlet-name>
        <url-pattern>/Full_book_disp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Book_image_manager</servlet-name>
        <url-pattern>/Book_image_manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Full_book_image_manager</servlet-name>
        <url-pattern>/Full_book_image_manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>post_image_manager</servlet-name>
        <url-pattern>/post_image_manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>self_image_manager</servlet-name>
        <url-pattern>/self_image_manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxcreateaccount</servlet-name>
        <url-pattern>/ajaxcreateaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirecter</servlet-name>
        <url-pattern>/redirecter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountValidater</servlet-name>
        <url-pattern>/AccountValidater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkmail</servlet-name>
        <url-pattern>/checkmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchingBook</servlet-name>
        <url-pattern>/SearchingBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPostFile</servlet-name>
        <url-pattern>/NewPostFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPost</servlet-name>
        <url-pattern>/NewPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCancel</servlet-name>
        <url-pattern>/UploadCancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDisplay</servlet-name>
        <url-pattern>/PostDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPostDisplay</servlet-name>
        <url-pattern>/NewPostDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelfUserDisplay</servlet-name>
        <url-pattern>/SelfUserDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelfUserScroll</servlet-name>
        <url-pattern>/SelfUserScroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelfButton</servlet-name>
        <url-pattern>/SelfButton</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelfFullContent</servlet-name>
        <url-pattern>/SelfFullContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FullPostDisplay</servlet-name>
        <url-pattern>/FullPostDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPost</servlet-name>
        <url-pattern>/EditPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDisplay</servlet-name>
        <url-pattern>/BookDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBookDisplay</servlet-name>
        <url-pattern>/NewBookDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostButton</servlet-name>
        <url-pattern>/PostButton</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBook</servlet-name>
        <url-pattern>/NewBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyMail</servlet-name>
        <url-pattern>/MyMail</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>nabeel_temp.ProjectINicializer</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name> reg</servlet-name>
        <jsp-file>/newjsp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name> reg</servlet-name>
        <url-pattern>/new.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fileupload</servlet-name>
        <servlet-class>fileupload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileupload</servlet-name>
        <url-pattern>/fileupload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Book_search</servlet-name>
        <servlet-class>com.website.book.Book_search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Book_search</servlet-name>
        <url-pattern>/Book_search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Remaining_book</servlet-name>
        <servlet-class>com.website.book.Remaining_book</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Remaining_book</servlet-name>
        <url-pattern>/Remaining_book</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>URL</param-name>
        <param-value/>
    </context-param>
    <context-param>
        <param-name>USER_NAME</param-name>
        <param-value/>
    </context-param>
    <context-param>
        <param-name>PASSWORD</param-name>
        <param-value/>
    </context-param>
    <welcome-file-list>
        <welcome-file>
            Login
        </welcome-file>
    </welcome-file-list>
    <!-- <error-page>
        <error-code>500</error-code>
        <location>/errorPage/Error.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPage/404.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/errorPage/Error.html</location>
    </error-page>-->
</web-app>
