/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the tempulate in the editor.
*/
/* 
    Created on : 15 Feb, 2014, 12:07:21 AM
    Author     : akhtar
*/
input,option,select:focus{
    outline: none;
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Hind', sans-serif;
    background-color: white;
    background-image: url('../img/checked46.jpg');
}
p{
    margin: 0;
    padding: 0;
}
div{
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
    list-style: none;

}

#mainbody{
    height:auto;
    width: auto;
    margin: 0;
    padding: 0;
}
#main_header{
  height: 40px;
  width: 100%;
background-color: black;
  border: 1px solid transparent;
}

#header1
{  
    float: left;
    height: 55px;
    width: 300px;
    position: fixed;
    background-color: transparent;
    margin-left: 20%;
}

#why{
    height: 40px;
    width: 200px;
    //background-color: #009999;
    font-size: 20px;
    color: white;
    text-align: center;
    //margin-left: 10px;
    margin-right: 145px;
    margin-top: 5px;
    float: right;
    
}
#logo_div{
    height: 45px;
    width: 45px;
    float: left;
    background-color: white;
    margin-top: 5px;
    border: 1px solid transparent;

}
#term_condition_container{
    height: 300px;
    width: 600px;
    margin:0 auto;
    background-color:white;
 //   box-shadow: 2px 2px 6px black;
  border: 1px solid rgba(0,0,0,1);
  margin: 0 auto
      ;
  margin-top: 100px;
    
}
#thank{
    height: 100px;
    width: 500px;
    margin:0 auto;
    font-family: 'Hind', sans-serif;
    margin-top: 30px;
    border: 1px solid transparent;
    
}
#click_here{
    height: 50px;
    width: 500px;
    margin:0 auto;
    
   // border: 1px solid rgba(0,0,0,0.2);
    //float: left;
    
    
    
}